# Continuous Delivery - DAB Development Deployment
trigger: none
pr: none
resources:
  pipelines:
    - pipeline: databricks-ci
      source: {{.ado_pipeline_name}}
      tags:
        - development
      trigger:
        enabled: true
        stages:
          - development
variables:
  - group: {{.ado_variable_group_name}}
  - name: azure_subscription
    value: {{.dev_service_principal_name}}
  - name: keyvault_name
    value: {{.dev_keyvault_name}}
  - name: default_python_version
    value: 3.11
# Default pools where CI/CD tasks executes
# Subnets must be whitelisted on KV side to get secrets for CI/CD
pool: DA-VM-L-NonProd
stages:
  - stage: stage_application_approval
    condition: always()
    displayName: "Stage - Approval"
    jobs:
      - template: ../templates/jobs/job_deployment_approval.yml
        parameters:
          environment: databricks-deployment-dev
  - stage: stage_dev_application_deployment
    dependsOn: stage_application_approval
    displayName: "Stage - Deployment"
    jobs:
      - template: ../templates/jobs/job_deployment.yml
        parameters:
          environment: dev
          project_id: $(System.TeamProjectId)
          databricks_host: $(WorkspaceDevURL)
          {{- if eq .migrate "yes"}}
          databricks_cluster: $(ClusterIDDev)
          {{- end}}
          inegration_build_name: databricks-ci
