{
    "project_name": "{{.project_name}}",
    "schema_name": "{{.schema_name}}",
    "migrate": "{{.migrate}}",
    "publish_type": "{{.publish_type}}",
    "das_rls": "{{.das_rls}}",
    "developer_workflow": "{{.developer_workflow}}",
    "cicd_workflow": "{{.cicd_workflow}}",
    "environments":"{{.environments}}",
    "ado_variable_group_name":"{{.ado_variable_group_name}}",
    "ado_pipeline_name":"{{.ado_pipeline_name}}",
    "ado_environment_staging":"{{.ado_environment_staging}}",
    "ado_environment_production":"{{.ado_environment_production}}",
    "dev_workspace":"{{.dev_workspace}}",
    "dev_catalog":"{{.dev_catalog}}",
    "dev_service_principal_name":"{{.dev_service_principal_name}}",
    "dev_secret_scope":"{{.dev_secret_scope}}",
    "dev_cluster_policy_name": "{{.dev_cluster_policy_name}}",
    "dev_instance_pool_name": "{{.dev_instance_pool_name}}",
    "uat_workspace":"{{.uat_workspace}}",
    "uat_catalog":"{{.uat_catalog}}",
    "uat_service_principal_name":"{{.uat_service_principal_name}}",
    "uat_secret_scope":"{{.uat_secret_scope}}",
    "uat_cluster_policy_name": "{{.uat_cluster_policy_name}}",
    "uat_instance_pool_name": "{{.uat_instance_pool_name}}",
    "prod_workspace":"{{.prod_workspace}}",
    "prod_catalog":"{{.prod_catalog}}",
    "prod_service_principal_name":"{{.prod_service_principal_name}}",
    "prod_secret_scope":"{{.prod_secret_scope}}",
    "prod_cluster_policy_name": "{{.prod_cluster_policy_name}}",
    "prod_instance_pool_name": "{{.prod_instance_pool_name}}"
}