[pytest]
testpaths = tests
pythonpath = {{.project_name}}
markers = 
    integration: slower tests that mandate a spark or other connection
    unit: fast tests that run using only local and mocked resources