{{- if eq .developer_workflow "vscode-python"}}
parameters:
  - name: databricks_host
    default: ""
  - name: databricks_cluster
    default: ""
{{- end}}
jobs:
  - job: job_build
    variables:
      BranchName: $[stageDependencies.stage_code_validation.Git_Version.outputs['task_gitversion.BranchName']]
      fullSemVer: $[stageDependencies.stage_code_validation.Git_Version.outputs['task_gitversion.fullSemVer']]
      MajorMinorPatch: $[stageDependencies.stage_code_validation.Git_Version.outputs['task_gitversion.MajorMinorPatch']]
      PreReleaseNumber: $[stageDependencies.stage_code_validation.Git_Version.outputs['task_gitversion.PreReleaseNumber']]
      modifiedRepositoryName: $[replace(variables['Build.Repository.Name'], 'procter-gamble/', '')]
    displayName: "Agent job - Build-application"
    steps:
      # Get secrets from KeyVault
      - template: ../tasks/task_keyvault_secrets.yml
      - task: UsePythonVersion@0
        displayName: "Task - Set Python version"
        inputs:
          versionSpec: $(default_python_version)
          addToPath: true
{{- if eq .developer_workflow "vscode-python"}}
      - task: PowerShell@2
        name: task_python_venv
        displayName: "Task - Install tools"
        inputs:
          pwsh: true
          targetType: "inline"
          script: |
            python -m venv .venv
            & "$(System.DefaultWorkingDirectory)/.venv/bin/Activate.ps1"
            pip install poetry
            poetry config http-basic.pg_jfrog "$(jFrogUsername)" "$(jFrogToken)" # You must store username and secret in Azure Library or KeyVault
            poetry install
          workingDirectory: "$(System.DefaultWorkingDirectory)"
      - task: PowerShell@2
        name: task_update_version
        displayName: "Task - Update version"
        inputs:
          pwsh: true
          targetType: "inline"
          script: |
            # The script is setting artifact version generated by GitVersion pluing to pyproject.toml file
            ./.azurepipelines/templates/scripts/Set-BuildVersion.ps1 -BranchName "$(BranchName)" `
                                                                     -MajorMinorPatch "$(MajorMinorPatch)" `
                                                                     -PreReleaseNumber "$(PreReleaseNumber)" `
                                                                     -fullSemVer "$(fullSemVer)" `
                                                                     -initFilePath "./{{.project_name}}/__init__.py" `
                                                                     -tomlFilePath "./pyproject.toml"
      - task: PowerShell@2
        name: task_integration_test
        displayName: "Task - Run tests"
        inputs:
          pwsh: true
          targetType: "inline"
          script: |
            & "$(System.DefaultWorkingDirectory)/.venv/bin/Activate.ps1"
            # Removing databricks profile if cached on build agent
            rm -v ~/.databrickscfg
            poetry run pytest --junitxml=testresults.xml --cov=./ --cov-report=xml:coverage.xml
          workingDirectory: "$(System.DefaultWorkingDirectory)"
        env:
          DATABRICKS_HOST: {{`${{ parameters.databricks_host }}`}}
          DATABRICKS_TOKEN: $(databricks-token) # from KeyVault
          DATABRICKS_CLUSTER_ID: {{`${{ parameters.databricks_cluster }}`}}
      - task: SonarQubePrepare@7
        displayName: "Task - SonarQube - Prepare analysis"
        inputs:
          SonarQube: "sonarqubeenterprise.pgcloud.com/sonarqube"
          scannerMode: "CLI"
          configMode: "manual"
          cliProjectKey: "dh-platforms-devops.$(modifiedRepositoryName)"
          cliProjectName: "dh-platforms-devops.$(modifiedRepositoryName)"
          cliProjectVersion: $(MajorMinorPatch)
          cliSources: "{{.project_name}}/"
          extraProperties: |
            sonar.python.coverage.reportPaths=$(System.DefaultWorkingDirectory)/coverage.xml
            sonar.python.xunit.reportPath=$(System.DefaultWorkingDirectory)/testresults.xml
            sonar.python.version=3
            sonar.tests=tests
            sonar.verbose=true
      - task: SonarQubeAnalyze@7
        displayName: "Task - SonarQube - Run code analysis"
      - task: SonarQubePublish@7
        displayName: "Task - SonarQube - Publish"
      - task: PublishTestResults@2
        name: task_publish_test_results
        displayName: "Task - Publish Unit Test Results"
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: "$(System.DefaultWorkingDirectory)/testresults.xml"
          testRunTitle: 'Publish test results for Python $(python.version)'
      - task: PublishCodeCoverageResults@2
        name: task_publish_test_coverage
        displayName: "Task - Publish Unit Test Coverage"
        inputs:
          summaryFileLocation: "$(System.DefaultWorkingDirectory)/coverage.xml"
      - task: PowerShell@2
        name: task_build
        displayName: "Task - Build DAB"
        inputs:
          pwsh: true
          targetType: "inline"
          script: |
            & "$(System.DefaultWorkingDirectory)/.venv/bin/Activate.ps1"
            poetry build
          workingDirectory: "$(System.DefaultWorkingDirectory)"
      - task: CopyFiles@2
        name: task_copy_whl
        displayName: "Task - Copy whl files"
        inputs:
          SourceFolder: "$(System.DefaultWorkingDirectory)/dist/"
          Contents: "*.whl"
          TargetFolder: "$(Build.ArtifactStagingDirectory)/whl/"
      - task: PublishBuildArtifacts@1
        name: task_publish_whl
        displayName: "Task - Publish whl artifact"
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)/whl
          artifactName: whl
{{- end}}
      - task: CopyFiles@2
        name: task_copy_compilation_result
        displayName: "Task - Copy project files"
        inputs:
          SourceFolder: "$(System.DefaultWorkingDirectory)/"
          Contents: |
            **/*
            !**/.azurepipelines/**
            !**/.devcontainer/**
            !**/.git/**
            !**/.pytest_cache/**
            !**/.scannerwork/**
            !**/.venv/**
            !**/.vscode/**
            !**/dist/**
            !poetry.lock
          TargetFolder: "$(Build.ArtifactStagingDirectory)/artifact/"
      - task: ArchiveFiles@2
        name: task_archive_files
        displayName: "Task - Archive files"
        inputs:
          rootFolderOrFile: "$(Build.ArtifactStagingDirectory)/artifact/"
          includeRootFolder: false
          archiveFile: $(Build.ArtifactStagingDirectory)/app-$(Build.BuildId).zip
      - task: PublishBuildArtifacts@1
        name: task_publish_artifact
        displayName: "Task - Publish application artifact"
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)/app-$(Build.BuildId).zip
          artifactName: artifact
